.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: white;
      background: #56c596;
      transition: 1s;
      display: flex;
      align-items: center;
      box-shadow: 6px 6px 0 #2d7455;
      border-radius: 5px;
      min-width: 250px;
      text-align: center;
      justify-content: center;
      cursor: pointer;
   
  }
  
  .text-bold {
    font-weight: bold;
  }

  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: -6px -6px 0 #FBC638;
      color: #FFF;
      transform: translateY(5px);

  }

  
  



  :root {
    --bg: #f3f8fa;
    --white: #fff;
    --black: #282936;
  }
  