/* styles-light.css */
.light-mode .navigation {
    background-color: var(--green);
    color: var(--light);
}
.light-mode .content {
    background-color: var(--light);
    color: var(--dark);
}

.light-mode .content h2 {
    color: var(--dark-green);
}

.light-mode .footer {
    background-color: var(--green);
    color: var(--light);
}
.light-mode .custom-radio label {
    background-color: var(--background-light);
}

.light-mode .table-card {
    background-color: var(--background-light);
}
.light-mode .card-footer .card-footer {
    background-color: var(--bg);

}

.light-mode .custom-select-lab option {
    background-color: var(--bg);
    color: #333;
  
}

.light-mode div .table input,.light-mode div .table2 input {
    color: var(--dark);
}

.team-section {
    background-color: var(--background-light);
}

.light-mode .table .cell,.light-mode .table2 .cell {
    background-color: var(--light);
}

.light-mode .table div, .table2 div {
    border-color: var(--background-light);
}

.light-mode textarea {
    background-color: var(--light);
}

.light-mode .verification-results {
    background-color: var(--light);
}

.light-mode .theory-area {
    background-color: var(--bg);
}

.light-mode .selection {
    background-color: var(--light);
}

.light-mode .characteristic-image {
    background-color: var(--light);
}

/* styles-light.css */
.light-mode {
    --background-color: var(--background-light); /* Cor de fundo no modo claro */
}
